.colorblock{
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;  
}

.colorblock .colorname{
  background: rgba(0,0,0,0.4);
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 12px;
}

@media (max-width: 767px){
  .colorblock{
    align-items: center;
  }
}