.colorblock{
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;  
}

.colorblock .colorname{
  background: rgba(0,0,0,0.4);
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.fade-appear{
  transform: translateY(30px);
  opacity: 0.01;
}

.fade-appear-active{
  opacity: 1;
  transform: translateY(0px);
  transition: all 100ms linear;
}

@media (max-width: 767px){
  .colorblock{
    align-items: center;
  }
    .fade-appear{
    transform: translateX(-30px);
  }

  .fade-appear-active{
    transform: translateX(0px);
  }
}
