.colorblock{
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;  
}

.colorblock .colorname{
  background: rgba(0,0,0,0.4);
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.fade-appear,
.fade-enter{
  opacity: 0.01;
}

.fade-appear-active,
.fade-enter-active{
  opacity: 1;
  transition: all 100ms linear;
}

@media (max-width: 767px){
  .colorblock{
    align-items: center;
  }
}
